@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video-list {
    @include font-subheader-mobile;
    color: $mercury;
    padding:    0
                $padding-mobile
                $padding-mobile;
    &__title {
        @include font-subheader-mobile;
        padding-bottom: .5rem;
        font-weight: 600;
    }
    &__item {
        display: flex;
        // align-items: center;
        height: 5rem;
        // padding: .25rem 0;
        
    }
    &__image-container {
        display: flex;
        align-items: center;
    }
    &__image {
        background-color: $mercury;
        width: 6.5rem;
        height: 80%;
        border-radius: 4px;
    }
    &__details-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 67%;
        height: 90%;
        padding-left: $padding-mobile;
        padding-top: .25rem;
    }
    &__item-title {
        @include font-subheader-mobile;
        color: $darkBlack;
        font-weight: 600;
    }
    &__item-channel {
        @include font-body-mobile;
        color: $darkBlack;
    }
}