@use '../../styles/partials/variables' as *;

.video-player-container {
    width: 100%;
    
}

.video-player {
    width: 100%;
    height: auto;
    max-height: 440px;
    background-color: $darkBlack;
}