@use '../../styles/partials/variables' as *;

.video-player-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    max-height: 440px;
}

.video-player-wrapper {
    max-height: 440px;
}


.video-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 440px;
    background-color: $darkBlack;
}

