$blue: #0095FF;
$black: #323232;
$darkBlack: #000000;
$darkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$silver: #AFAFAF;
$white: #FFFFFF;

$header-topPadding-mobile: 1.5rem;
$header-bottomPadding-mobile: 1rem;
$padding-mobile: 1rem;




