@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.publish-form {
    padding: $padding-mobile;
    @include tablet {
        padding:    0
                    $padding-tablet
                    $padding-tablet;
    }
    &__title-label {
        @include font-subheader-mobile;
        color: $mercury;
    }
    &__description-label {
        @include font-subheader-mobile;
        color: $mercury;
    }
    &__input-container {
        @include desktop {
            padding-left: 2rem;
        }
    }
}


#title-input {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: $darkBlack;
    min-width: 15rem;
    max-width: 100%;
    border-width: 1px;
    border-radius: 4px;
    border-color: $mercury;
    border-style: solid;
    @include font-body-mobile;
    outline-color: $blue;
    padding: .75rem;
    background-color: $alabaster;
}


#description-input {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: $darkBlack;
    height: 6rem;
    min-width: 15rem;
    max-width: 100%;
    border-width: 1px;
    border-radius: 4px;
    border-color: $mercury;
    border-style: solid;
    @include font-body-mobile;
    outline-color: $blue;
    padding: .75rem;
    background-color: $alabaster;
    @include tablet {
        margin-bottom: $padding-tablet;
    }
    @include desktop {
        height: 7.5rem;
    }
}