@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.comment-form {
    display: flex;
    &__avatar {
        border-radius: 50px;
        height: 2.25rem;
        max-height: 36px;
        width: 2.25rem;
        max-width: 36px;
        margin-left: .8rem;
        margin-top: 2.7rem;
    }
    &__container {
        width: 90%;
        padding: $padding-mobile;
    }
    &__label {
        @include font-subheader-mobile;
        color: $mercury;
    }
    &__button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $white;
        background-color: $blue;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        border: none;
        position: relative;
        @include font-body-mobile;
        &:hover {
            background-color: $darkBlue;
        }
    }
    &__button-icon {
        position: absolute;
        left: .5rem;
    }
}

#comment-input {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: $black;
    height: 6rem;
    min-width: 15rem;
    max-width: 100%;
    border-width: 1px;
    border-radius: 4px;
    border-color: $mercury;
    border-style: solid;
    @include font-body-mobile;
    outline-color: $blue;
    padding: 12px;
    text-align:unset;
    background-color: $alabaster;
    &:active {
        border-width: 2px;

    }
}
