@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.button-container {
    @include tablet {
        display: flex;
        position: relative;
        justify-content: flex-end;
        padding: $padding-tablet;
        border-top: 1px solid $mercury;
    }
}
.publish-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: $white;
    background-color: $blue;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: none;
    position: relative;
    @include font-body-mobile;
    @include tablet {
        width: 9.375rem;
    }
    &:hover {
        background-color: $darkBlue;
    }
    &__icon {
        position: absolute;
        left: .5rem;
    }
}

.cancel-button {
    height: 40px;
    color: $blue;
    border: none;
    background-color: #fff;
    @include font-subheader-mobile;
    @include tablet {
        position: absolute;
        right: 15rem;
    }
}